/* Estilo do cabeçalho */
.header {
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
  }
  
  .logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0;
  }
  
  .header-buttons {
    display: flex;
    align-items: center;
  }
  
  .header-buttons button {
    background-color: white;
    color: red;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .header-buttons button:hover {
    background-color: #ffcccc;
  }
  
  /* Botão de sair */
  .btn-logout {
    background-color: darkred;
    color: white;
  }
  
  .btn-logout:hover {
    background-color: red;
  }
  
  /* Estilo do conteúdo principal */
  .main-content {
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 50%;
  }
  
  .simulador-section,
  .cadastro-section {
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }