/* Estilização básica */

.listaUsuarios h2 {
    text-align: center;
    color: #333;
}

.listaUsuarios table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.listaUsuarios th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.listaUsuarios th {
    background-color: #f2f2f2;
}

.listaUsuarios {
    background-color: #f9f9f9;
}

.listaUsuarios button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
}

.listaUsuarios input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}